@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--light-blue);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.box {
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h4 {
  color: white;
  margin: 10px;
}

#text {
  margin-left: 15%;
  margin-bottom: 10px;
  width: 75%;
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
}

.btn {
  width: 25%;
  padding: 5px;
  margin-left: 40%;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
}

input {
  text-align: center;
}